<footer>
<div class="row" style="border-top: 1px solid black; background-color: lightgray;">
    <div class="col-md-4 col-sm-2" align="center" class="foot">
        <a href="{{site.url}}">
        <img src="../assets/hvaclogo.png" alt="Logo" class="logo"/>
        </a>
    </div>
    <div class="col-4" align="center" class="foot sm-no-display">
            <div class="col-md-6 col-sm-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br/>
        </div>
        <a href="#" target="_blank">
        <i class="fa-brands fa-instagram col-5" style="font-size: 50px; color: orange;"></i>
        </a>
        <a href="#" target="_blank">
        <i class="fa-brands fa-square-facebook col-5" style="font-size: 50px; color: blue;"></i>
        </a>
        
    </div>
    <div class="col-md-4 col-sm-2" align="center" class="foot">
      <form method="POST" action="https://getform.io/f/00d68794-ca3e-46d7-b8a5-d5c856e0b47a">
        <h3 class="bayside">Get a quote today!</h3>
        <div class="row" style="width: 250px;">
            <label for="text">Name:</label>
            <input type="text" name="name" placeholder="Jeff Dough">
        </div>
        <div class="row" style="width: 250px;">
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="YourEmail@gmail.com">
        </div>
        <div class="row" style="width: 250px;">
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="###-###-####">
        </div>
        <div class="row" style="width: 100px; padding-top: 2%;">
        <button type="submit" value="submit" class="submit">Submit</button>
        </div>
      </form>
        
    </div>
</div>

    <div class="row" style="background-color: lightgray;">
        <div class="col-6 offset-3" align="center">
        Designed &amp; Developed by Dante Bradshaw
        </div>
    </div>
</footer>