<form method="POST" action="https://getform.io/f/bf00913b-6ac4-4206-afbe-873948ce80a0">
    <h3>Get a quote today!</h3>
    <div class="row" style="width: 250px;">
        <label for="text">Name:</label>
        <input type="text" name="name" placeholder="Jeff Dough">
    </div>
    <div class="row" style="width: 250px;">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="YourEmail@gmail.com">
    </div>
    <div class="row" style="width: 250px;">
        <label for="phone">Phone:</label>
        <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="###-###-####">
    </div>
    <div class="row" style="width: 100px; padding-top: 2%;">
    <button type="submit" value="submit" class="submit">Submit</button>
    </div>
  </form>