<nav>

    <div class="wrap">
        <div class="navleft col-6">
        <a href="{{site.url}}">
            <img src="../assets/hvaclogo.png" alt="Logo" class="logo"/>
        </a>
        </div>
        <div class="navright">
            <ul class="row">
                <li class="col-sm-3 col-xs-2">
                    <a href="{{site.url}}" class="blue"> Home <br/><!--<span class="material-symbols-outlined" align="center">
                        home
                        </span>--></a>
                </li>
                <li class="col-lg-3 col-xs-2">
                    <a href="{{site.url}}/about" class="blue">About</a>
                </li>
                <li class="col-lg-3 col-xs-2">
                    <a href="{{site.url}}/contact" class="red">Contact</a>
                </li>
                <li class="col-lg-3 col-xs-2">
                    <a href="{{site.url}}/experience" class="red">Experience</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>